{% extends "base.html" %}
{% load i18n static socialaccount %}

{% block head %}
<title>Travel | Google</title>
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock head %}

{% block content %}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
                            <form class="box" method="POST">
                                {% csrf_token %}
                                <p class="text-white-50 mb-5">
                                    You are about to sign in using your Google Account. Click continue
                                    to confirm, or go <a class="text-white-50 fw-bold"
                                        href="{% url "account_login" %}">back</a> and choose a different
                                    method.
                                </p>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Continue</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "partials/footer.html" %}

{% endblock content %}