/* html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
/* But also accounting for potential margin-bottom of last child */
/* margin-bottom: -79.7px;
}

.footer {
    height: 79.7px;
} */